%nav.js-fullpage-menu.top-bar{"data-topbar" => "", :role => "navigation"}
  %ul.title-area
    %li.name(data-menuanchor='home' class='active')
      %h1
        %a(href= "#home") Web Dev Talks
    %li.toggle-topbar.menu-icon
      %a(href= "#home")
        %span Menu
  %section.top-bar-section
    %ul.left
      %li(data-menuanchor='topics')
        %a(href="#topics") Topics
      %li(data-menuanchor='cfp')
        %a(href="#cfp") Papers
      %li(data-menuanchor='about')
        %a(href="#about") About
      %li(data-menuanchor='location')
        %a(href="#location") Location
