.sticky
  %nav.top-bar{"data-topbar" => "", :role => "navigation"}
    %ul.title-area
      %li.name
        %h1
          %a(href= "#home") Web Dev Talks
      %li.toggle-topbar.menu-icon
        %a(href= "#home")
          %span Menu
    %section.top-bar-section
      %ul.left
        %li
          %a(href="#temas") Temas
        %li
          %a(href="#lugar") Dónde?
        %li
          %a(href="#convocatoria") Envía tu propuesta
