.row
  .large-12.columns
    %form
      .row
        .large-6.columns
          %label
            Mi nombre es...
            %input(type='text' placeholder='Arturo Fuentes')
        .large-6.columns
          %label
            El tema del que voy a hablar es...
            %input(type='text' placeholder='Github hooks')
      .row
        .large-12.columns
          %label
            Resumen de la charla:
            %textarea(rows='7')
      .row
        .large-12.columns
          %input.button(type='submit' value='Enviar')
