.row
  .large-12.columns
    = image_tag "wdt-logo.png"
.row
  .large-12.columns.text-center
    %iframe{allowfullscreen: "", frameborder: "0", height: "315", src: "//www.youtube.com/embed/3kLz1Q0myiM", width: "560"}
.row
  .large-12.columns.text-center
    .row
      .large-12.columns
        %h2
          %strong Próximo evento:
          Bank OCR Kata en varios lenguajes
    .row
      .large-12.columns
        %h3 Colima, Mex. 30 de Julio 2014
    .row
      .large-12.columns
        =link_to 'https://twitter.com/webdevtalksmx', class: 'twitter-redirect' do
          =image_tag "twitter-bird.png"
        =link_to 'https://www.facebook.com/ColimaWebDevTalks', class: 'twitter-redirect' do
          =image_tag "facebook-plane-social.png"
