=render 'shared/menu_nav'
%a(name='home')
=render 'home'
.row
  .large-12.columns
    %hr
%a(name='temas')
=render 'topics'
%a(name='lugar')
=render 'location'
.row
  .large-12.columns
    %hr
%a(name='convocatoria')
=render 'cfp'
