=render 'shared/menu_nav'
#content.row
  .section.large-12.columns
    =render 'home'
  .section.large-12.columns
    =render 'topics'
  .section.large-12.columns
    =render 'location'
  .section.large-12.columns
    =render 'cfp'
